################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/config
/Projects/App/bin
/Projects/App/obj
/Projects/Domain/bin
/Projects/Domain/obj
/Projects/DomainModel/bin
/Projects/DomainModel/obj
/Projects/Repository/bin
/Projects/Repository/obj
/Projects/Tasks/bin
/Projects/Tasks/obj
Projects/Tools/obj/
