################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/config
/Projects/App/bin
/Projects/App/obj
/Projects/Domain/bin
/Projects/Domain/obj
/Projects/DomainModel/bin
/Projects/DomainModel/obj
/Projects/Repository/bin
/Projects/Repository/obj
/Projects/Tasks/bin
/Projects/Tasks/obj
/Projects/Tools/bin/
/Projects/Tools/obj/
/TaskTests/bin/
/TaskTests/obj/
TasksTests/bin/
/Projects/App/obj
/Projects/App/bin
/Projects/Domain/obj
/Projects/DomainModel/bin
/Projects/DomainModel/obj
/Projects/Repository/obj
/Projects/Repository/bin
/Projects/Tasks/obj
/Projects/Tasks/bin
/Projects/Tools/obj
