.quickdate {
  float: left;
}
.quickdate-button {
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  border: 1px solid #C7CAD6;
  display: block;
  float: left;
  margin-left: 20px;
  width: 180px;
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
  color: #6E768F;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
}
.quickdate-button:hover {
  text-decoration: none;
  color: #6E768F;
}
.quickdate-text-inputs,
.quickdate-close {
  display: none;
}
.quickdate-month {
  color: #6E768F;
  font-family: 'Source Sans Pro', sans-serif;
}
.quickdate-calendar th,
.quickdate-calendar td {
  text-align: center;
  font-size: 12px;
  color: #6E768F;
  font-family: 'Source Sans Pro', sans-serif;
}
.quickdate-action-link {
  text-decoration: none;
  width: 20px;
  height: 20px;
  background-color: white;
  line-height: 19px;
  border-radius: 20px;
  margin-bottom: 4px;
  border: 1px solid #6E768F;
  font-size: 10px;
}
.quickdate-action-link:hover {
  background-color: #F8F8FB;
}
.quickdate tr:last-child td {
  padding-bottom: 6px;
}