.form-line {
  display: block;
  margin-bottom: 4px;
  height: 53px;
}
.form-line-textarea {
  display: block;
  margin-bottom: 4px;
  overflow: auto;
}
.form-line-dropdown {
  display: block;
  margin-bottom: 4px;
  height: 53px;
}
.form-row-label,
.form-row-label-two-line {
  display: block;
  float: left;
  width: 80px;
  text-align: center;
  text-transform: uppercase;
  line-height: 16px;
}
.form-row-label {
  padding-top: 11px;
}
.form-row-label-two-line {
  padding-top: 3px;
}
.form-textarea-header {
  display: block;
}
.form-readonly-value {
  width: 188px;
  height: 38px;
  line-height: 38px;
  display: block;
  margin-left: 100px;
  background-color: #F4F6FF;
  padding: 0 6px;
}
.form-line input[type=text],
.form-line input[type=password],
.form-textarea-container,
.form-readonly-value {
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  border: 1px solid #C7CAD6;
}
.form-line input[type=text],
.form-line input[type=password],
.form-line-dropdown > div {
  display: block;
  float: left;
  margin-left: 20px;
  width: 200px;
}
.form-line input[type=checkbox] {
  margin-left: 20px;
  margin-top: 13px;
  cursor: pointer;
}
.form-textarea-container {
  padding: 10px;
  color: #C7CAD6;
}
.form-line-textarea textarea {
  display: block;
  width: 100%;
  border: none;
  resize: none;
  height: 110px;
  color: #6E768F;
  font-family: 'Source Sans Pro', sans-serif;
}
input:disabled {
  opacity: 0.5;
}
/*form input.ng-invalid:not(.ng-pristine) {
    box-shadow: 0px 0px 13px rgba(255, 133, 0, 0.9);
}*/
/*.form-line input.ng-invalid {
    background-color: #FFEDED;
}

.form-line input.ng-valid-required {
    background-color: #D8FFDD;
}*/