table {
  border: 1px solid #B7BBC7;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 0 20px;
}
th,
td {
  border-bottom: none;
  text-transform: uppercase;
}
td {
  padding: 1px 4px;
  max-width: 350px;
  word-wrap: break-word;
  vertical-align: top;
  line-height: 17px;
}
.action {
  cursor: pointer;
}
th {
  padding: 18px 4px;
}
tr:last-child td {
  padding-bottom: 30px;
}
.col50 {
  width: 50px;
}
.col70 {
  width: 70px;
}
.col80 {
  width: 80px;
}
.col90 {
  width: 90px;
}
.col100 {
  width: 100px;
}
.col110 {
  width: 110px;
}
.col120 {
  width: 120px;
}
.col130 {
  width: 130px;
}
.col140 {
  width: 140px;
}
.col300 {
  width: 300px;
}
.max60,
.max100,
.max300 {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  vertical-align: top;
  line-height: 17px;
}
.max60 {
  max-width: 60px;
}
.max100 {
  max-width: 100px;
}
.max300 {
  max-width: 300px;
}