<div class="container">

    <!--<div style="position: fixed;top: 0;left: 0;line-height: 11px;background-color: white;border: 1px solid #c0c0c0;padding: 4px;">
        <pre  data-bind="text: ko.toJSON(report, null, 2)"></pre>
    </div>-->

    <form>
        <div class="row">
            <div class="twelve columns">
                <h5>Nagłówek</h5>
            </div>
        </div>
        <div class="row">
            <div class="six columns">
                <label for="tbTitle">Nazwa Raportu</label>
                <input type="text" class="u-full-width" id="tbTitle" data-bind="value: report.Title" maxlength="50" autofocus />
            </div>
            <div class="six columns">
                <label for="tbBusinessReason">Business Reason</label>
                <input type="text" class="u-full-width" id="tbBusinessReason" data-bind="value: report.BusinessReason" maxlength="100">
            </div>
        </div>
        <div class="row">
            <div class="six columns">
                <label for="tbDate">Data</label>
                <input type="text" class="u-full-width" id="tbDate" data-bind="value: report.Date" maxlength="10">
            </div>
            <div class="six columns">
                <label for="tbBusinessPurpose">Business Purpose</label>
                <input type="text" class="u-full-width" id="tbBusinessPurpose" data-bind="value: report.BusinessPurpose" maxlength="100">
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <label for="tbComment">Komentarz</label>
                <input type="text" class="u-full-width" id="tbComment" data-bind="value: report.Notes" maxlength="255">
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="twelve columns">
                <h5>Wydatki</h5>
            </div>
        </div>
        <table class="u-full-width">
            <thead>
                <tr>
                    <td>Rodzaj Kosztu</td>
                    <td>Data</td>
                    <td>Miasto</td>
                    <td>Kraj</td>
                    <td>Kwota</td>
                    <td>Waluta</td>
                    <td>Kurs Wymiany</td>
                    <td>Dokument</td>
                    <td>VAT</td>
                    <td>Komentarz</td>
                    <td></td>
                </tr>
            </thead>
            <tbody data-bind="foreach:report.Expenses">
                <tr>
                    <td data-bind="text: Type"></td>
                    <td data-bind="text: Date"></td>
                    <td data-bind="text: City"></td>
                    <td data-bind="text: Country"></td>
                    <td data-bind="text: Amount"></td>
                    <td></td>
                    <td data-bind="text: ExchangeRate"></td>
                    <td></td>
                    <td data-bind="text: VATRate"></td>
                    <td data-bind="text: Notes"></td>
                    <td>
                        <a href="#" data-bind="click: $parent.RemoveExpense">Usuń</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="button" class="button button-primary" value="Dodaj Wydatek" data-bind="click: AddExpense" />
        <hr />

        <div class="row">
            <div class="twelve columns">
                <h5>Kilometrówka</h5>
            </div>
        </div>
        <div class="row">
            <div class="six columns">
                <label for="ddlKmVehicle">Pojazd</label>
                <select id="ddlKmVehicle"
                        class="u-full-width"
                        data-bind="options: VehicleTypes,
                        optionsCaption: '-- Wybierz --' ,
                        optionsText: 'Name' ,
                        value: report.MileageAllowance.Type"></select>
            </div>
            <div class="six columns">
                <label for="tbKmRate">Stawka</label>
                <input type="text" disabled class="u-full-width" id="tbKmRate"  data-bind="value: report.MileageAllowance.Type() != undefined ? report.MileageAllowance.Type().Rate : '-'">
            </div>
        </div>
        <div class="row">
            <div class="six columns">
                <label for="tbKmDate">Data</label>
                <input type="text" class="u-full-width" id="tbKmDate" data-bind="value: report.MileageAllowance.Date" maxlength="10" >
            </div>
        </div>
        <div class="row">
            <div class="six columns">
                <label for="tbKmCount">Ilość Kilometrów</label>
                <input type="text" class="u-full-width" id="tbKmCount" data-bind="value: report.MileageAllowance.Distance, valueUpdate: 'afterkeyup'" maxlength="10">
            </div>
            <div class="six columns">
                <label for="tbKMTotal">Wyliczona Kwota</label>
                <input type="text" class="u-full-width" id="tbKMTotal" data-bind="value: report.MileageAllowance.Amount" disabled>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <label for="tbKMComment">Komentarz</label>
                <input type="text" class="u-full-width" id="tbKMComment" data-bind="value: report.MileageAllowance.Notes" maxlength="255">
            </div>
        </div>
        <hr />
        
    </form>

    

</div>