<div id="reportsListContainer" class="container">
    <div class="twelve columns">
        <div data-bind="visible: !IsInitialized()">Wczytuję raporty...</div>

        <!-- ko if: IsInitialized -->
        <table class="u-full-width">
            <thead>
                <tr>
                    <td>Tytuł</td>
                    <td>Data</td>
                    <td>Komentarz</td>
                    <td>Kwota</td>
                </tr>
            </thead>
            <tbody data-bind="foreach: Reports">
                <tr>
                    <td data-bind="text: Title"></td>
                    <td data-bind="text: Date"></td>
                    <td data-bind="text: Note"></td>
                    <td data-bind="text: AmountTotal"></td>
                </tr>
            </tbody>
        </table>

        <input type="button" class="button button-primary" value="Stwórz Nowy Raport" />
        <!-- /ko -->
    </div>

    
</div>