<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://swipeapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>swipeapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>swipeapi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$swipeapi</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="SwipeGtfsEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:winkbkq1vv.database.windows.net,1433;Initial Catalog=swipegtfs;User ID=swipe@winkbkq1vv;Password=MKB1983!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DomainModel.SwipeGtfsContext, DomainModel" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SwipeEntities" Order="2" Enabled="False" xmlns="">
          <Destination Path="Data Source=tcp:winkbkq1vv.database.windows.net,1433;Initial Catalog=swipe;User ID=swipe@winkbkq1vv;Password=MKB1983!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DomainModel.SwipeContext, DomainModel" MigrationConfiguration="DomainModel.Migrations.Configuration, DomainModel" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IdentityEntities-Web.config Connection String">
      <ParameterValue>Server=tcp:winkbkq1vv.database.windows.net,1433;Database=Swipe;User ID=swipe@winkbkq1vv;Password=MKB1983!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SwipeEntities-Web.config Connection String">
      <ParameterValue>Data Source=tcp:winkbkq1vv.database.windows.net,1433;Initial Catalog=swipe;User ID=swipe@winkbkq1vv;Password=MKB1983!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SwipeGtfsEntities-Web.config Connection String">
      <ParameterValue>Data Source=tcp:winkbkq1vv.database.windows.net,1433;Initial Catalog=swipegtfs;User ID=swipe@winkbkq1vv;Password=MKB1983!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>