<div class="login-form" style="width: 400px; margin: auto;">
    <form name="form" ng-submit="vm.register()" novalidate>
        <div class="row">
            <div class="form-line">
                <span class="form-row-label">Email</span>
                <input type="text" maxlength="100" ng-model="vm.registerModel.email" autofocus required />
                <required-icon content="vm.registerModel.email"></required-icon>
            </div>
            <div class="form-line">
                <span class="form-row-label">Hasło</span>
                <input type="password" maxlength="100" ng-model="vm.registerModel.password" required  ng-minlength="6" />
                <required-icon content="vm.registerModel.password"></required-icon>
            </div>
            <div class="form-line">
                <span class="form-row-label-two-line">Powtórz Hasło</span>
                <input type="password" maxlength="100" ng-model="vm.registerModel.confirmPassword" required  ng-minlength="6" />
                <required-icon content="vm.registerModel.confirmPassword"></required-icon>
            </div>
            <div class="text-center" ng-show="!vm.passwordsMatch()">
                <span>Podane hasła są różne</span>
            </div>
        </div>

        <div class="text-center">
            <input type="submit" value="Zarejestruj się" class="button button-primary" ng-disabled="form.$invalid || vm.isBusy || !vm.passwordsMatch()" />
        </div>
    </form>
</div>

